@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(181, 210, 211);
}
.dc-mt{
    margin-top: 150px;
}

.dc-container{
    margin: 0 auto;
    margin-top: 50px;
}

table{
    border-radius: 25px !important;
    background-color: rgb(244, 244, 244);
    i{
        color: gray;
        &:hover{
            cursor: pointer;
            color: red;
        }
    }
}

.custom-btn{
    padding: 0;
    border: none;
    background-color: white;
}

